################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AgileMaintenceAPI/FileContentIndex/2459d4b2-c5ee-4b02-9a02-702a3ea6e149.vsidx
/.vs/AgileMaintenceAPI/FileContentIndex/848df3f1-faa3-4974-8d3a-825dbbaffa8d.vsidx
/.vs/
